$base-font: 'Raleway-Regular', sans-serif;
$base-font-bold: 'Raleway-Bold', sans-serif;
$btn-font: 'Raleway-SemiBold', sans-serif;
$quotes-font: 'Cardo-Italic', sans-serif;
$captions-font: 'Raleway-Light', sans-serif;
$big-text-font: 'OpenSans-Bold', sans-serif;


$sm-font-size: 13px;
$base-font-size: 14px;
$secondary-font-size: 22px;
$captions-font-size: 28px;
$quotes-font-size: 36px;
$big-font-size: 65px;

$base-line-height: 22px;



$text-color-white: #fff;
$text-color-light: #ccccd3;
$text-color-dark: #80858b;
$text-color-black: #2d3033;
$text-color-accent: #e84545;


$bg-dark-color: #3a3e64;
$quote-bg: #53354a;
$brand-color: #e84545;